<div class="navbar-mobile">
	<div class="navbar-mobile__link-container">
		<a href="/entry/find">
			<div class="navbar-mobile__link"><img class="material-icons" src="/images/description-white-18dp.svg"></div>
			<div class="navbar-mobile__link-text">Entries</div>
		</a>
	</div>     

	<div class="navbar-mobile__link-container">
		<a href="/entry/chart">
			<div class="navbar-mobile__link"><img class="material-icons" src="/images/track_changes-white-18dp.svg"></div>
			<div class="navbar-mobile__link-text">Charts</div>
		</a>
	</div>  

	<form action="/entry/create">         
		<button class="navbar-mobile__link-circle" type="submit">
			<img class="add-icon" src="/images/add.svg">
		</button>
	</form>

	<div class="navbar-mobile__link-container">
		<div class="navbar-mobile__link" onclick="showMsg()"><img class="material-icons" src="/images/calendar_today-white-18dp.svg">
		</div>
		<div class="navbar-mobile__link-text">Calendar</div>
	</div>  

	<div id="arrow_box" class="arrow_box">coming soon</div>

	<div class="navbar-mobile__link-container">
		<a href="/user/dashboard">
			<div class="navbar-mobile__link"><img class="material-icons" src="/images/settings.svg">
			</div>       
			<div class="navbar-mobile__link-text">Settings</div></a>       
	</div>  
</div>

<script>

	function showMsg() {		
		var element = document.getElementById("arrow_box");
  		element.classList.add("arrow_box--show");
		
		function removeMsg() {
			element.classList.remove("arrow_box--show");
		}
		
		setTimeout(removeMsg, 1000);		
	}


</script>