<div class="navbar-mobile">

<!--
    <div class="navbar-mobile__link-container">
        <div class="navbar-mobile__link"><img class="material-icons" src="/images/description-white-18dp.svg"></div>
        <div class="navbar-mobile__link-text">Entries</div>
    </div>     

    <div class="navbar-mobile__link-container">
        <div class="navbar-mobile__link"><img class="material-icons" src="/images/track_changes-white-18dp.svg"></div>
        <div class="navbar-mobile__link-text">dddd</div>
    </div>  
-->

    <form action="/entry/create">         
        <button class="navbar-mobile__link-circle" type="submit">
            <img class="add-icon" src="/images/add.svg">
        </button>
    </form>

<!--
    <div class="navbar-mobile__link-container">

        <div class="navbar-mobile__link">
            <img class="material-icons" src="/images/calendar_today-white-18dp.svg">

        </div>

        <div class="navbar-mobile__link-text">dddd</div>
    </div>  

    <div class="navbar-mobile__link-container">
        <div class="navbar-mobile__link"></div>
        <div class="navbar-mobile__link-text">Settings</div>
    </div>  
-->
</div>