<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Charts</title>
		<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&&family=Noto+Sans&display=swap" rel="stylesheet">
	</head>
	<body>

		<main class="page-container-with-mobile-nav">

			<div class="top-nav">
				<div class="left">
				</div>
				<div class="center"><h3>Product Name</h3></div>
				<div class="right"></div>
			</div>

			<div class="page-container__chart">

				<div class="dropdown-container">
					<label for="dropdown">Choose a month:</label>
					<select onchange="createNewChart()" id="dropdown" name="dropdown">
						<option value="January">January</option>
						<option value="February">February</option>
						<option value="March">March</option>
						<option value="April">April</option>
						<option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
						<option value="August">August</option>
						<option value="September">September</option>
						<option value="October">October</option>
						<option value="November">November</option>
						<option value="December">December</option>
					</select>
				</div>

				<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

				<div id="outputhere"></div>

				<div class="chart-container">
					<canvas id="chart"></canvas>
				</div>




			</div>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>	

			<script type='text/javascript'>
				var jsonData =<%-JSON.stringify(entries)%>;
				var currentMonth = moment().startOf("month").format('MMMM');

				// set dropdown to current month
				var dropdownChilds = document.getElementById("dropdown").children;

				for (let item of dropdownChilds) {
					if(item.value == currentMonth) {
						item.selected = currentMonth;
					}
				}

				var dropdownValue; 
				var startOfMonth;
				var endOfMonth;

				var myPieChart;
				const CANVAS = document.getElementById("chart").getContext('2d');
				
				
				startOfMonth = moment().month(currentMonth).startOf("month").toDate();
				endOfMonth   = moment().month(currentMonth).endOf("month").toDate()

				// fillter by date
				var filteredData = jsonData.filter(function(a) {
					aDate = new Date(a.date);
					return aDate >= startOfMonth && aDate <= endOfMonth;
				});

				if(filteredData.length != 0) {

					var dataForChart = [];
					var labelsForChart = [];
					// join json documents by logname
					var result = [];
					filteredData.reduce(function(res, value) {
						if (!res[value.logname]) {
							res[value.logname] = { logname: value.logname, timeHour: 0, timeMinute: 0 };
							result.push(res[value.logname])
						}
						res[value.logname].timeHour += value.timeHour;
						res[value.logname].timeMinute += value.timeMinute;
						return res;
					}, {});

					document.getElementById('outputhere').innerHTML = "";

					result.forEach(element => {        

						function time_convert(num)
						{ 
							var hours = Math.floor(num / 60);  
							var minutes = num % 60;
							return hours + "." + minutes;         
						}   

						var time = time_convert(moment.duration(element.timeHour, "h").asMinutes() + element.timeMinute)

						document.getElementById('outputhere').innerHTML +=
							`<div class="chart__container">
<div class="text"> ${element.logname} </div>    
<div class="chart-container__time">
<div class="text"> ${time} </div>  
				</div>
				</div>`


						dataForChart.push(parseFloat(time));
						labelsForChart.push(element.logname);
					});



					data = {
						datasets: [{
							data: dataForChart,
							backgroundColor: [
								"#5bc8c8",
								"#81d5d5",
								"#a7e2e2",
								"#cdeeee",									
								"#e0f4f4"									
							]
						}],

						labels: labelsForChart
					};

					// For a pie chart
					myPieChart = new Chart(CANVAS, {
						type: 'pie',
						data: data
					});

				} else {  

					// empty
					document.getElementById('outputhere').innerHTML =          

						`<div class="page-container__chart-empty">
<div class="page-container__home__empty-state">
<img class="home-page-intro-image" src="/images/empty.svg" alt="">
<p class="home-page-intro-text">There are no entries for this month</p>                    
				</div>
				</div>`

				}

				// when user changes the month, load in new data for that month
				function createNewChart() {
					dropdownValue = document.getElementById("dropdown").value;
					startOfMonth = moment().month(dropdownValue).startOf("month").toDate();
					endOfMonth   = moment().month(dropdownValue).endOf("month").toDate()

					// fillter by date
					var filteredData = jsonData.filter(function(a) {
						aDate = new Date(a.date);
						return aDate >= startOfMonth && aDate <= endOfMonth;
					});

					if(filteredData.length != 0) {

						var dataForChart = [];
						var labelsForChart = [];
						// join json documents by logname
						var result = [];
						filteredData.reduce(function(res, value) {
							if (!res[value.logname]) {
								res[value.logname] = { logname: value.logname, timeHour: 0, timeMinute: 0 };
								result.push(res[value.logname])
							}
							res[value.logname].timeHour += value.timeHour;
							res[value.logname].timeMinute += value.timeMinute;
							return res;
						}, {});

						document.getElementById('outputhere').innerHTML = "";

						result.forEach(element => {        

							function time_convert(num)
							{ 
								var hours = Math.floor(num / 60);  
								var minutes = num % 60;
								return hours + "." + minutes;         
							}   

							var time = time_convert(moment.duration(element.timeHour, "h").asMinutes() + element.timeMinute)

							document.getElementById('outputhere').innerHTML +=
								`<div class="chart__container">
<div class="text"> ${element.logname} </div>    
<div class="chart-container__time">
<div class="text"> ${time} </div>  
				</div>
				</div>`
							
							dataForChart.push(parseFloat(time));
							labelsForChart.push(element.logname);
						});

						data = {
							datasets: [{
								data: dataForChart,
								backgroundColor: [
									"#5bc8c8",
									"#81d5d5",
									"#a7e2e2",
									"#cdeeee",									
									"#e0f4f4"	
								]
							}],
							// These labels appear in the legend and in the tooltips when hovering different arcs
							labels: labelsForChart
						};

						// destroy previous chart
						myPieChart.destroy();						

						myPieChart = new Chart(CANVAS, {
							type: 'pie',
							data: data
						});


					} else {  

						// empty
						document.getElementById('outputhere').innerHTML =          

							`<div class="page-container__chart-empty">
<div class="page-container__home__empty-state">
<img class="home-page-intro-image" src="/images/empty.svg" alt="">
<p class="home-page-intro-text">There are no entries for this month</p>                    
				</div>
				</div>`

					}   


				}
			</script>


		</main>
		<%- include ('./partials/navbar-mobile') %>

		<script>



		</script>


	</body>
</html>