<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>title</title>
        <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&&family=Noto+Sans&display=swap" rel="stylesheet">
    </head>
    <body>

        <main class="page-container">

            <div class="top-nav">
                <div class="left">
                    <form action="/entry/find">
                        <button class="button" type="submit" >Back</button>
                    </form>
                </div>
                <div class="center"><h3>Product Name</h3></div>
                <div class="right"></div>
            </div>

            <div class="page-container__chart">


                <label for="dropdown">Choose a month:</label>
                <select onchange="val()" id="dropdown" name="dropdown">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

                <div class="" id="outputhere"></div>
            </div>

            <script type='text/javascript'>
                var jsonData =<%-JSON.stringify(entries)%>;
                var currentMonth = moment().startOf("month").format('MMMM');

                // set dropdown to current month
                var dropdownChilds = document.getElementById("dropdown").children;
                console.log(dropdownChilds)

                for (let item of dropdownChilds) {
                    if(item.value == currentMonth) {
                        item.selected = currentMonth;
                    }
                }

                var dropdownValue; 
                var startOfMonth;
                var endOfMonth;

                startOfMonth = moment().month(currentMonth).startOf("month").toDate();
                endOfMonth   = moment().month(currentMonth).endOf("month").toDate()

                // fillter by date
                var filteredData = jsonData.filter(function(a) {
                    aDate = new Date(a.date);
                    return aDate >= startOfMonth && aDate <= endOfMonth;
                });

                // join json documents by logname
                var result = [];
                filteredData.reduce(function(res, value) {
                    if (!res[value.logname]) {
                        res[value.logname] = { logname: value.logname, timeHour: 0, timeMinute: 0 };
                        result.push(res[value.logname])
                    }
                    res[value.logname].timeHour += value.timeHour;
                    res[value.logname].timeMinute += value.timeMinute;
                    return res;
                }, {});

                document.getElementById('outputhere').innerHTML = "";

                result.forEach(element => {        

                    document.getElementById('outputhere').innerHTML +=
                        `<div class="chart__container">
<div class="text"> ${element.logname} </div>    
<div class="chart-container__time">
<div class="text"> ${element.timeHour}: </div>    
<div class="text"> ${element.timeMinute} </div>  
                </div>
                </div>`
                });




                function val() {
                    dropdownValue = document.getElementById("dropdown").value;
                    startOfMonth = moment().month(dropdownValue).startOf("month").toDate();
                    endOfMonth   = moment().month(dropdownValue).endOf("month").toDate()

                    // fillter by date
                    var filteredData = jsonData.filter(function(a) {
                        aDate = new Date(a.date);
                        return aDate >= startOfMonth && aDate <= endOfMonth;
                    });

                    // join json documents by logname
                    var result = [];
                    filteredData.reduce(function(res, value) {
                        if (!res[value.logname]) {
                            res[value.logname] = { logname: value.logname, timeHour: 0, timeMinute: 0 };
                            result.push(res[value.logname])
                        }
                        res[value.logname].timeHour += value.timeHour;
                        res[value.logname].timeMinute += value.timeMinute;
                        return res;
                    }, {});

                    document.getElementById('outputhere').innerHTML = "";

                    result.forEach(element => {        

                        document.getElementById('outputhere').innerHTML +=
                            `<div class="chart__container">
<div class="text"> ${element.logname} </div>    
<div class="chart-container__time">
<div class="text"> ${element.timeHour}: </div>    
<div class="text"> ${element.timeMinute} </div>  
                </div>
                </div>`
                    });
                }
            </script>


        </main>


    </body>
</html>