<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>title</title>
        <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&&family=Noto+Sans&display=swap" rel="stylesheet">

    </head>
    <body>



        <main class="page-container">

            <%- include ('./partials/messages') %>


            <% if(!logs[0]) { %>

            <div class="page-container__create-log">
                <%- include ('./partials/messages') %>

                <div class="top-nav">
                    <div class="left">
                        <form action="../entry/create">
                            <button class="button" type="submit">Back</button>
                        </form>
                    </div>
                    <div class="center"><h3>Product Name</h3></div>
                    <div class="right"></div>
                </div>

                <img class="create-log-intro-image" src="/images/create-log-empty.svg" alt="">

                <p class="home-page-intro-text">First create a log were your entries will be stored</p>

                <% } else { %>

                <div class="top-nav">
                    <div class="left">
                        <form action="../entry/create">
                            <button class="button" type="submit">Back</button>
                        </form>
                    </div>
                    <div class="center"><h3>Product Name</h3></div>
                    <div class="right"></div>

                </div>


                <div class="page-container__create-log">
                    <% } %>

                    <form action="/log/create" method="POST">

                        <div class="flex-column-center"> 

                            <div class="input-container">

                                <div class="input-title">Log name</div>
                                <input class="input" name="name" id="log" type="text">
                            </div>

                            <div class="create-entry__submit">                        
                                <button class="button-primary" type="submit">Create Log</button>
                            </div>                    

                        </div>

                    </form> 

                </div>
                </main>

            </body>
        </html>