<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Delete</title>
        <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&&family=Noto+Sans&display=swap" rel="stylesheet">

    </head>
    <body>

        <main class="page-container">


            <div class="top-nav">
                <div class="left">
                    <form action="/entry/find">
                        <button class="button" type="submit" >Back</button>
                    </form>
                </div>
                <div class="center"><h3>Product Name</h3></div>
                <div class="right"></div>
            </div>
            <div class="page-container__delete">
                
                
                <% if(!logs[0]) { %>
            <div class="page-container__home">

                <div class="page-container__home__empty-state">


                    <img class="home-page-intro-image" src="/images/empty.svg" alt="">

                    <p class="home-page-intro-text">You dont have any logs</p>

                </div>

            </div>
            <% } else { %>
                
                
                
                
                
                <% logs.forEach((log) => { %>



                <div class="delete-container">

                    <div class="delete-container__text">
                        <div class="text"><%= log.name %></div>
                        <div class="">Entries: <%= log.entries.length %></div>
                    </div>


                    <form class="delete-form"action="/log/<%= log._id %>/delete" method="POST">
                        <button class="button-delete button-delete--small" type="submit">Delete</button>
                    </form>
                </div>


                <% }) %>
            </div>
            
            <% } %>

        </main>

        <script>
        </script>    

    </body>
</html>