* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {

    /*    colours */
    /*    black to gray */
    --black-10: hsl(0, 0%, 0%);
    --black-8: hsl(0, 0%, 10%);
    --black-6: hsl(0, 0%, 20%);
    --black-4: hsl(0, 0%, 30%);
    --black-2: hsl(0, 0%, 40%);
    --black-0: hsl(0, 0%, 50%);

    --grey-10: hsl(0, 0%, 62%);
    --grey-8: hsl(0, 0%, 72%);
    --grey-6: hsl(0, 0%, 82%);
    --grey-4: hsl(0, 0%, 92%);
    --grey-2: hsl(0, 0%, 98%);

    --green-4: hsl(91, 61%, 86%);


    --dark-blue: #272343;
    --light-turq: #E3F6F5;
    --dark-turq: #BAE8E8;   
    --lightest-turq: #F4F6F6;


    --text-color: ;

    /*    Button and time entry */
    --button-primary: var(--dark-blue);
    --create-new-log-button: var(--light-turq);
    --time-selector-background-selected: var(--dark-turq);
    --select-log-backround: var(--lightest-turq);
    --time-selector-background: var(--lightest-turq);

    /*    Header text colours */
    --daycontainer-date: var(--dark-blue);
    /*    --daycontainer-color-fade: #f6e3e4;*/

    --daycontainer-header-title: var(--black-8);
    --daycontainer-header-date: var(--black-2);
    --daycontainer-header-time: var(--black-2);
    --daycontainer-header-background: #f2fbfa;

    --daycontainer-entry-body: var(--black-6);
    --daycontainer-entry-time: var(--black-0);
    --daycontainer-entry-time-background: var(--lightest-turq);


    --shadow-web-kit: -webkit-box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.56); 
    --shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
}


body {
    background-color: hsl(0, 0%, 95%);

}

/* Mobile First */

/* Home page - display entrys*/
.page-container {
    max-width: 400px;
    min-height: 100vh;
    background-color: white;
    margin: auto;
    position: relative;    
}

.page-container-with-mobile-nav {
    max-width: 400px;
    min-height: 100vh;
    padding-bottom: 70px;
    background-color: white;
    margin: auto;
    position: relative;    
}



.page-container__day-container {
    background: rgb(221,221,221);
    background: linear-gradient(to top, #d3cce3, #e9e4f0);
    padding: 10px 10px 5px 10px;
}

.day-container__log {
    margin: 0px 0px 10px 0px;
    border: 0px solid gray;  
    background-color: ;
}

.log__header {
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid gray; 
    background-color: var(--daycontainer-header-background);

}

.log__header__title {
    font-weight: 600;
    color: var(--daycontainer-header-title);
}

.log__header__time {
    font-weight: 600;
    color: var(--daycontainer-header-time);
}

.log__header__date {
    padding-top: 5px;
    font-size: 14px;
    color: var(--daycontainer-header-date);
}

.log__entry {
    margin-top: 0px;
    padding-bottom: 20px;
}

.log__entry:last-child {
    margin-top: 0px;
    padding-bottom: 0px;
}

.log__entry__body {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    /*    background-color: antiquewhite;*/

}

.body--left {
    min-width: 70px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--daycontainer-entry-time-background);
    justify-content: center;
    display: flex;
}

.body__time {
    color: var(--daycontainer-entry-time);
    padding-top: 3.5px;
}

.body__text {
    color: var(--daycontainer-entry-body);
    height: 100%;
    position: relative;
    top: 4px;
}

/* pop up message home page*/

#popup {
    opacity: 1;
    transition: opacity 1s; 

    /*
    padding: 15px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;    
    */

    position: absolute;
    top: 0px;
    z-index: 5;

}

#popup.fade {
    opacity: 0;    
}

#popup.remove {
    display: none; 
}



/* Create entry page */

.log-selection__log-container {
/*    width: 90px;*/
    height: 110px;
    /*    background-color: white;*/
    text-align: center;
    border-radius: 5px;
/*    padding: 5px;*/
/*    margin: auto;*/

}

.log-selection__log-container:nth-child(4n) {

}

.log-container__log-box {
    width: 50px;
    height: 50px;
    background-color: crimson;
}

.create-entry__log-selection {
padding: 10px 10px 10px 10px;
    background-color: var(--select-log-backround);
    border-radius: 5px 5px 0px 0px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(80px, auto));
}



.create-entry__time-selection {
    margin-bottom: 10px;
    width: 100%;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.create-entry__submit {
    margin: 5px 0px;
    display: flex;
    justify-content: center;
}









.log-container__icon {
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
}









/* Create log page */

.create-log__submit {
    margin: 5px 0px;
}


/* timepicker */
.timepicker-container {
    background-color: white;  
    margin-bottom: 10px;
}

.timepicker-container__container {
    display: flex;
    margin-bottom: 10px;

}

.container__item {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--time-selector-background);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.container__item-selected {
    background-color: var(--time-selector-background-selected);
}

.timepicker-container__finalTimes {
    display: flex;    
    justify-content: center;
    margin-top: 20px;
}

.finalTimes__input-container  {
    margin: 0px 5px;
}







.timepicker-container__buttons {
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.timepicker-container__button {
    min-width: 49.6%;
    height: 100%;
    display: inline-block;
    border: 0px;
}

.paddding-10 {
    padding: 10px;
}

#timeMinute {

}





.timepicker-container__title {
    margin-bottom: 5px;
}

.input-title {
    margin-bottom: 5px;
}

.body--right { 
    padding: 0px 10px;
    position: relative;
    width: 100%;
}

.log__entry_container {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
}

.head {
    background-color: beige;
}

.post {
    background-color: gainsboro;

}

/*
.test {
background: linear-gradient(180deg, rgba(255,183,183,1) 0%, rgba(255,255,255,1) 100%);
width: 500px;
}
*/

.button {
    padding: 10px;
    border: none;
    background-color: var(--dark-blue);
    color: white;
}

.page-container__day-container__date {
    margin-bottom: 10px;
    color: var(--daycontainer-date);
    text-align: left;
}

.input-container {
    margin-bottom: 10px;
}

.input-small {
    width: 60px;
}

.input {   
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.input--full-width {   
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: var(--dark-blue);
}

/* visited link */
a:visited {
    color: var(--dark-blue);
}

/* mouse over link */
a:hover {
    color: var(--dark-blue);
}

/* selected link */
a:active {
    color: var(--dark-blue);
}

.entry-update-link {
    /*    background-color: hsl(0, 0%, 99%);*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
}

input[type='text'],
input[type='number'],
textarea {
    font-size: 16px;
}

.create-entry__add-note__textarea {
    width: 100%;    
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
}

.log-create-link {
    background-color: var(--create-new-log-button);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px; 
    margin-bottom: 10px;
}





.log-container__log-text {
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 14px;
    height: 35px;
    
        max-width: 70px;
    margin: auto;
    text-align: center;
}

.button-primary {
    color: white;
    background-color: var(--button-primary);
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
}

.button-primary--full-width {
    width: 100%;
}

.create-entry__add-note {

}

.form-card {
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.form-card h1 {
    margin-bottom: 20px;
}
.form-card .input {
    margin-bottom: 10px;
    text-align: left;
    padding: 20px;
}


.button-primary--full-width {
    width: 100%;
}

.form-flash {
    margin-bottom: 10px;    
    opacity: 1;
    transition: opacity 1s; 
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;
    width: 100%;
}

.form-flash-error {
    margin-bottom: 10px;    
    opacity: 1;
    transition: opacity 1s; 
    padding: 10px;
    background-color: #edd4d4;
    border: 1px solid #e6c3c3;
    border-radius: 5px;
    color: #801212;
    width: 100%;
}

.form-card__switch {
    margin-top: 20px;
}

.form-card__link {
    color: var(--dark-blue);
}

.form-card__text {
    color: var(--grey-10);
}

.center-vertical-horizontal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.page-container__create-entry {
/*    box-shadow: var(--shadow);*/
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 0px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;    
}

.page-container__create-log {
/*    box-shadow: var(--shadow);*/
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;

}

.page-container__home {
/*    box-shadow: var(--shadow);*/
    background-color: white;
    border-radius: 5px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-container__chart-empty {
/*    box-shadow: var(--shadow);*/
/*    background-color: white;*/
    border-radius: 5px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.page-container__settings {
    background-color: white;
    border-radius: 5px;
    height: calc(100vh - 120px);
    background-color: var(--grey-2);
}
.form {
    background-color: white;
    border-radius: 5px;
}

.red {
    color: red;
}

.entry-update-link-color {
    color: var(--grey-6)
}

.button-delete {
    color: #e33838;
    background-color: white;
    border: 1px solid #e33838;
    border-radius: 5px;
    padding: 10px 25px; 
    margin: auto;
    font-size: 16px;
}

.button-delete--small {
    border-radius: 5px;
    padding: 5px 15px; 
    font-size: 16px;
}

.delete-form {
    display: flex;
    justify-content: center;    
}

.home-page-intro-image {
    width: 70%;   
    margin: auto;
    display: block;
    margin-bottom: 20px;
    position: relative;
    left: -10px;
}

.create-log-intro-image {
    width: 45%;   
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}


.home-page-intro-text {
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    color: var(--black-2);
    max-width: 300px;
}



/* navbar-mobile */
.navbar-mobile {
    max-width: 400px;
    /*    width: 400px;*/
    /*    margin: auto;*/
    height: 70px;
    background-color: #272343;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;

    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.navbar-mobile__link {
    width: 24px;
    height: 24px;
    /*    background-color: green;*/
    margin: auto;
    margin-bottom: 2px;
}

.navbar-mobile__link-circle {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #272343;
    position: relative;
    top: -20px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.35);
    margin-left: 12px;
    margin-right: 12px;
}

.navbar-mobile__link-container {
    width: 80px;
    height: 40px;
    text-align: center;
    color: white;
    position: relative;
    top:-7px;

}

.add-icon {
    width: 20px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    width: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.navbar-mobile__link-text {
    font-size: 11px;
    color: white;
}

.page-container__home__empty-state {
    position: relative;
    top: -70px;
}

.top-nav {
    width: 100%;
    height: 40px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.left, .right {
    flex: 1;
}

.center {
    font-size: 12px;
}

.image-404 {
    width: 60%;   
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-404 {
    text-align: center;
}

.delete-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
}

.delete-container__text .text{
    font-weight: 600;
}



/* color selector */
.color-container {
width: 100%;
    margin-bottom: 20px;
}

.color-container p {
    margin-bottom: 5px;
}

.color-container__color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-container__color--red {
    background-color: hsl(0, 100%, 85%);
}

.color-container__color--yellow {
    background-color: hsl(46, 100%, 85%);
}

.color-container__color--green {
        background-color: hsl(111, 100%, 85%);
}

.color-container__color--light-blue {
        background-color: hsl(180, 100%, 85%);
}

.color-container__color--blue {
        background-color: hsl(224, 100%, 85%);
}

.color-container__color--pink {
        background-color: hsl(294, 100%, 85%);
}


.color-container__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.color-icon {
    display: none;
}

.color-selected {
    display: block;
}



.settings__container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
}

.settings__container__text .text {
    color: var(black-8);
}

.page-container__delete {
    background-color: white;
    border-radius: 5px;
    height: 100vh;
    background-color: var(--grey-2);
}

.page-container__chart {
/*    background-color: white;*/
    border-radius: 5px;
    height: calc(100vh - 120px);
    background-color: var(--grey-2);

}

.chart__container {
        display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
}

.chart-container__time {
    display: flex;
    flex-direction: row;
}

.dropdown-container {
        display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-container label {
    padding-bottom: 2px;
}

.settings__container__text .logout {
    color: #cc0000;
}
