* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {

    /*    colours */
    /*    black to gray */
    --black-10: hsl(0, 0%, 0%);
    --black-8: hsl(0, 0%, 10%);
    --black-6: hsl(0, 0%, 20%);
    --black-4: hsl(0, 0%, 30%);
    --black-2: hsl(0, 0%, 40%);
    --black-0: hsl(0, 0%, 50%);

    --grey-10: hsl(0, 0%, 62%);
    --grey-8: hsl(0, 0%, 72%);
    --grey-6: hsl(0, 0%, 82%);
    --grey-4: hsl(0, 0%, 92%);

    --green-4: hsl(91, 61%, 86%);
    
    
    --dark-blue: #272343;
    --light-turq: #E3F6F5;
    --dark-turq: #BAE8E8;   
    --lightest-turq: #F4F6F6;
        
    
    
    
    
    
/*    Button and time entry */
    --button-primary: var(--dark-blue);
    --create-new-log-button: var(--light-turq);
    --time-selector-background-selected: var(--dark-turq);
    --select-log-backround: var(--lightest-turq);
    --time-selector-background: var(--lightest-turq);

    /*    Header text colours */
    --daycontainer-date: var(--black-4);
/*    --daycontainer-color-fade: #f6e3e4;*/

    --daycontainer-header-title: var(--black-8);
    --daycontainer-header-date: var(--black-2);
    --daycontainer-header-time: var(--black-2);
    --daycontainer-header-background: #f2fbfa;

    --daycontainer-entry-body: var(--black-6);
    --daycontainer-entry-time: var(--black-0);
    --daycontainer-entry-time-background: var(--lightest-turq);
    
    
    --shadow-web-kit: -webkit-box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.56); 
    --shadow: 0px 4px 24px rgba(0, 0, 0, 0.1)
}


body {
    background-color: hsl(0, 0%, 95%);

}

/* Mobile First */

/* Home page - display entrys*/
.page-container {
    max-width:400px;
/*    background-color: white;*/
    margin: auto;
    position: relative;
}



.page-container__day-container {
    background: rgb(221,221,221);
    background: linear-gradient(to top, #d3cce3, #e9e4f0);
    padding: 10px 10px 5px 10px;
}

.day-container__log {
    margin: 0px 0px 10px 0px;
    border: 0px solid gray;  
    background-color: ;
}

.log__header {
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid gray; 
    background-color: var(--daycontainer-header-background);

}

.log__header__title {
    font-weight: 600;
    color: var(--daycontainer-header-title);
}

.log__header__time {
    font-weight: 600;
    color: var(--daycontainer-header-time);
}

.log__header__date {
    padding-top: 5px;
    font-size: 14px;
    color: var(--daycontainer-header-date);
}

.log__entry {
    margin-top: 0px;
    padding-bottom: 20px;
}

.log__entry:last-child {
    margin-top: 0px;
    padding-bottom: 0px;
}

.log__entry__body {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    /*    background-color: antiquewhite;*/

}

.body--left {
    min-width: 70px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--daycontainer-entry-time-background);
    justify-content: center;
    display: flex;
}

.body__time {
    color: var(--daycontainer-entry-time);
    padding-top: 3.5px;
}

.body__text {
    color: var(--daycontainer-entry-body);
    height: 100%;
}

/* pop up message home page*/

#popup {
    opacity: 1;
    transition: opacity 1s; 
    
/*
    padding: 15px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;    
*/
    
    position: absolute;
    top: 0px;
    z-index: 5;
    
}

#popup.fade {
    opacity: 0;    
}

#popup.remove {
    display: none; 
}



/* Create entry page */

.log-selection__log-container {
    width: 23.5%;
    height: 110px;
/*    background-color: white;*/
    text-align: center;
    margin-right: 5px;    
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;

}

.log-selection__log-container:nth-child(4n) {
    margin-right: 0px;   

}

.log-container__log-box {
    width: 50px;
    height: 50px;
    background-color: crimson;
}

.create-entry__log-selection {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--select-log-backround);
    border-radius: 5px 5px 0px 0px;
}

.create-entry__time-selection {
    margin-bottom: 10px;
    width: 100%;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.create-entry__submit {
    margin: 5px 0px;
}









.log-container__icon {
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}









/* Create log page */

.create-log__submit {
    margin: 5px 0px;
}


/* timepicker */
.timepicker-container {
    background-color: white;  
    margin-bottom: 10px;
}

.timepicker-container__container {
    display: flex;
    margin-bottom: 10px;

}

.container__item {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--time-selector-background);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.container__item-selected {
    background-color: var(--time-selector-background-selected);
}

.timepicker-container__finalTimes {
    display: flex;    
    justify-content: center;
    margin-top: 20px;
}

.finalTimes__input-container  {
    margin: 0px 5px;
}







.timepicker-container__buttons {
    height: 50px;
    width: 100%;
    margin-top: 10px;
}

.timepicker-container__button {
    min-width: 49.6%;
    height: 100%;
    display: inline-block;
    border: 0px;
}

.paddding-10 {
    padding: 10px;
}

#timeMinute {

}





.timepicker-container__title {
    margin-bottom: 5px;
}

.input-title {
    margin-bottom: 5px;
}

.body--right { 
    padding: 0px 10px;
    position: relative;
    width: 100%;
}

.log__entry_container {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
}

.head {
    background-color: beige;
}

.post {
    background-color: gainsboro;

}

.test {
    background: linear-gradient(180deg, rgba(255,183,183,1) 0%, rgba(255,255,255,1) 100%);
    width: 500px;
}

.button {
    padding: 10px;
    border: none;
    background-color: deepskyblue;
    color: white;
}

.page-container__day-container__date {
    margin-bottom: 10px;
    color: var(--daycontainer-date);
    text-align: left;
}

.input-container {
    margin-bottom: 5px;
}

.input-small {
    width: 60px;
}

.input {   
    border: 1px solid gainsboro;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

.input--full-width {   
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: var(--dark-blue);
}

/* visited link */
a:visited {
    color: var(--dark-blue);
}

/* mouse over link */
a:hover {
    color: var(--dark-blue);
}

/* selected link */
a:active {
    color: var(--dark-blue);
}

.entry-update-link {
    background-color: hsl(0, 0%, 99%);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
}

input[type='text'],
input[type='number'],
textarea {
    font-size: 16px;
}

.create-entry__add-note__textarea {
    width: 100%;    
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    margin-bottom: 10px;
}

.log-create-link {
    background-color: var(--create-new-log-button);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px; 
    margin-bottom: 10px;
}





.log-container__log-text {
    line-height: 1.1;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
    font-size: 14px;
    height: 35px;
}

.button-primary {
    color: white;
    background-color: var(--button-primary);
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
}

.button-primary--full-width {
    width: 100%;
}

.create-entry__add-note {
    
}

.form-card {
    width: 400px;
    background-color: white;
    padding: 60px;
    text-align: center;
    border-radius: 5px;
box-shadow: var(--shadow);
}
.form-card h1 {
    margin-bottom: 20px;
}
.form-card .input {
    margin-bottom: 10px;
    text-align: left;
    padding: 20px;
}


.button-primary--full-width {
    width: 100%;
}

.form-flash {
    margin-bottom: 10px;    
    opacity: 1;
    transition: opacity 1s; 
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    color: #155724;
    width: 100%;
}

.form-flash-error {
    margin-bottom: 10px;    
    opacity: 1;
    transition: opacity 1s; 
    padding: 10px;
    background-color: #edd4d4;
    border: 1px solid #e6c3c3;
    border-radius: 5px;
    color: #801212;
    width: 100%;
}

.form-card__switch {
  margin-top: 20px;
}

.form-card__link {
    color: var(--dark-blue);
}

.form-card__text {
    color: var(--grey-10);
}

.center-vertical-horizontal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.page-container__create-entry {
    box-shadow: var(--shadow);
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
}
.form {
        background-color: white;
    border-radius: 5px;
}

.red {
    color: red;
}

.entry-update-link-color {
    color: var(--grey-6)
}

.button-delete {
    color: #e33838;
    background-color: white;
    border: 1px solid #e33838;
    border-radius: 5px;
    padding: 8px 25px; 
    margin: auto;
}

.delete-form {
    display: flex;
    justify-content: center;    
}
